*,
*:after,
*:before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
    width: 100vw;
}

.wrapper-menu {
	width: 75%;
    height: 13vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
@media(max-width: 768px){
    .wrapper-menu {
        width: 100vw;
    }
}

.menu-image-box {
    display: flex;
    align-items: center;
    width: 15%;
}
@media(max-width: 768px){
    .menu-image-box {
        width: 25%;
    }
}

.wrapper-logo {
	width: 16vw;
	height: 8vh;
}
@media(max-width: 768px){
    .wrapper-logo {
        width: 19vw;
        height: 10vh;
    }
}

.menu-list {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.menu-link {
	text-decoration: none;
}

.list-item {
	list-style: none;
	margin-left: 3rem;
	font-size: 1.5rem;
    color: #000;
}
@media(max-width: 768px){
    .list-item {
        margin-left: .8rem;
        font-size: 1.2rem;
    }
}

.container-1 {
	background-color: #13007C;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-image: url(./assets/Fundo-home.svg);
    background-repeat: no-repeat;
    background-size: 174%;
    background-position-y: -138%;
    background-position-x: 42%;
}
@media(max-width: 768px){
    .container-1 {
    background-size: 163%;
    background-position-x: 43%;
    background-position-y: -54%;
    } 
}
@media(max-width: 640px){
    .container-1 {
        width: 100vw;
        background-size: 100vh;
        background-position-y: -9%;
        background-position-x: 34%;
    }
}

.content-1-division {
	width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
@media(max-width: 768px){
    .content-1-division {
        width: 61vw;
        height: 100vh;
    }
}

.content-1-title {
	font-size: 1.8rem;
    width: 40vw;
    color: #FFF;
}
@media(max-width: 768px){
    .content-1-title {
        font-size: 1.5rem;
    }
}
@media(max-width: 640px){
    .content-1-title {
        font-size: 1.8rem;
        width: 54vw;
        height: 7vh;
    }
}

.content-1-button {
	background: none;
    border-style: none;
    font-size: 2.2rem;
    color: #FFF;
    border-bottom-style: dotted;
    border-bottom-width: 3px;
}
@media(max-width: 768px){
    .content-1-button {
        font-size: 1.4rem;
    }
}
@media(max-width: 640px){
    .content-1-button {
        font-size: 1.7rem;
    }
}

.content-1-box {
	width: 50%;
    height: 100vh;
    color: #FFF;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
@media(max-width: 768px){
    .content-1-box {
        width: 50%;
    }
}
@media(max-width: 640px){
    .content-1-box {
        width: 85vw;
        height: 100vh;
    }
}

.box-title {
	font-size: 2rem;
}
@media(max-width: 768px){
    .box-title {
        font-size: 1.5rem;
    }
}
@media(max-width: 640px){
    .box-title {
        font-size: 1.5rem;
    }
}

.box-text {
	font-size: 1.2rem;
    width: 88%;
}
@media(max-width: 768px){
    .box-text {
        font-size: 1rem;
    }
}
@media(max-width: 640px){
    .box-text {
        font-size: 1rem;
        width: 70vw;
        height: 28vh;
    }
}

.content-2-division {
	background-color: #01A0C6;
    border-bottom-left-radius: 15rem;
    border-top-left-radius: 15rem;
    height: 55vh;
    width: 88vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    top: 9rem;
}

.division-image {
	width: 35%;
    height: 80%;
    border-radius: 100%;
}
@media(max-width: 768px){
    .division-image {
    width: 35%;
    height: 82%;
    }
}

.subdivision-a {
	color: #FFF;
    height: 62%;
    width: 56%;
    display: flex;
    justify-content: space-evenly;
}
@media(max-width: 768px){
    .subdivision-a {
        height: 27vh;
    }
}

.subdivision-a-wrapper {
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
@media(max-width: 768px){
    .subdivision-a-wrapper {
        height: 30vh;
        width: 50vw
    }
}

.subdivision-text-a {
	font-size: 1.7rem;
    width: 100%;
}
@media(max-width: 768px){
    .subdivision-text-a {
        font-size: 1.3rem;
    }
}

.wrapper-a {
    font-size: 1.5rem;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media(max-width: 768px){
    .wrapper-a {
        font-size: 1.2rem;
    }
}

.subdivision-b {
	font-size: 1.35rem;
    width: 23vw;
}

.container-3 {
	display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    margin-left: 10rem;
    margin-top: 10rem;
    width: 84vw;
    height: 75vh;
}
@media(max-width: 768px){
    .container-3 {
        width: 85vw;
        height: 75vh;
        margin-left: 7rem;
        margin-top: 10rem;
    }
}

.content-3-div {
    width: 83vw;
    display: flex;
    align-items: center;
}

.container-3-title {
	color: #13007C;
    font-size: 1.8rem;
    width: 35vw;
}
@media(max-width: 768px){
    .container-3-title {
        width: 46vw;
        font-size: 2rem;
    }
}

.content-3-division {
    font-size: .875rem;
    display: flex;
    flex-direction: row;
    width: 85vw;
    height: 50vh;
}

.container-image-box{
	background-color: #13007C;
    width: 25%;
    height: 30%;
    position: absolute;
}
@media(max-width: 768px){
    .container-image-box {
        width: 30vw;
        height: 36vh;
    }
}

.container-image {
	width: 95%;
    position: relative;
    left: 1.2rem;
    bottom: 1.5rem;
}
@media(max-width: 768px){
    .container-image {
        width: 92%;
        left: 1.2rem;
        bottom: 1rem;
    }
}

.division-box {
    width: 111vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40vh;
}

.division-container {
    width: 26vw;
    margin-left: 23rem;
}
@media(max-width: 768px){
    .division-container {
        margin-left: 20rem;
        width: 20vw;
    }
}

.div-title {
    font-size: 1.7rem; 
}
@media(max-width: 768px){
    .div-title {
        font-size: 1.2rem;
    }
}

.div-text{
    font-size: 1.5rem;
    color: #AFAFAF;
}
@media(max-width: 768px){
    .div-text {
        width: 17vw;
        font-size: 1rem;
        color: #AFAFAF;
    }
}

.subdivision {
    width: 30vw;
    margin-left: 23rem;
    display: flex;
    flex-direction: column;
}
@media(max-width: 768px){
    .subdivision {
        margin-left: 20rem;
    }
}

.subdivision-title {
    font-size: 1.7rem;
}
@media(max-width: 768px){
    .subdivision-title {
        font-size: 1.2rem;
    }
}

.subdivision-text {
    font-size: 1.5rem;
    color: #AFAFAF;
}
@media(max-width: 768px){
    .subdivision-text {
        font-size: 1rem;
        color: #AFAFAF;
    }
}

.subdivision-box {
    width: 30vw;
    margin-left: 23rem;
}
@media(max-width: 768px){
    .subdivision-box {
        margin-left: 20rem;
    }
}

.subdivision-box-title {
    font-size: 1.7rem;
}
@media(max-width: 768px){
    .subdivision-box-title {
        font-size: 1.2rem;
    }
}

.subdivision-box-text {
    font-size: 1.5rem;
    color: #AFAFAF;
}
@media(max-width: 768px){
    .subdivision-box-text {
        font-size: 1rem;
        width: 25vw;
        color: #AFAFAF
    }
}

.container-4 {
    background-color: #01A0C6;
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.container-4-division {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40vh;
    width: 40vw;
}
@media(max-width: 678px){
    .container-4-division {
        height: 46vh;
    }
}

.container-4-title {
    font-size: 2.5rem;
    color: #FFF;
}
@media(max-width: 768px){
    .container-4-title {
        font-size: 1.5rem;
    }
}

.container-4-text {
    font-size: 1.34rem;
    color: #FFF;
    width: 44vw;
}
@media(max-width: 768px){
    .container-4-text {
        font-size: 1rem;
        width: 43vw;
    }
}

.container-4-image {
    width: 26vw;
}
@media(max-width: 768px){
    .container-4-image {
        width: 35vw;
    }
}

.container-5 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: url(./assets/background.svg);
    background-repeat: no-repeat;
    background-position-y: 127px;
    background-size: 61%;
    background-position-x: -220px;
}
@media(max-width: 768px){
    .container-5 {
        background-position-y: 85px;
    }
}

.title-holder {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 53%;
}

.container-5-title {
    font-size: 2.3rem;
    color: #13007C;
}
@media(max-width: 768px){
    .container-5-title {
        font-size: 2rem;
    }
}

.division-box-2 {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}
@media(max-width: 768px){
    .division-box-2 {
        height: 77%;
        width: 95%;
    }
}

.subdivision-5 {
    width: 51%;
    border-left-style: dotted;
    border-left-color: #FF8000;
    border-width: 0.4vw;
    padding-left: 2rem;
    height: 23%;
}
@media(max-width: 768px){
    .subdivision-5 {
        width: 50%;
    }
}

.division-title {
   font-size: 1.75rem;
}
@media(max-width: 768px){
    .division-title {
        font-size: 1.2rem;
    }
}

.division-subtitle {
    font-size: 1.6rem;
    height: 29%;
}
@media(max-width: 768px){
    .division-subtitle {
        font-size: 1.2rem;
    }
}

.division-text {
    font-size: 1.37rem;
}
@media(max-width: 768px){
    .division-text {
        font-size: 0.8rem;
    }
}

.container-6 {
    width: 100%;
    height: 70%;
    background-color: #F9F9F9;
}

.content-6-div {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.content-6-division {
    width: 55%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.division-6-title {
    font-size: 2.5rem;
    color: #13007C;
    width: 86%;
}
@media(max-width: 768px){
    .division-6-title {
        font-size: 1.8rem;
        width: 80%;
    }
}

.division-6-text {
    font-size: 1.3rem;
    height: 60%;
    width: 85%;
}
@media(max-width: 768px){
    .division-6-text {
        font-size: 1rem;
        height: 55%;
        width: 80%;
    }
}

.subdivision-6 {
    width: 47vw;
    height: 22vh;
}
@media(max-width: 768px){
    .subdivision-6 {
        height: 37%;
    }
}

.title-box {
    width: 100%;
    font-size: 1rem;
    height: 7vh;
}
@media(max-width: 768px){
    .title-box {
        font-size: 0.6rem;
        height: 20%;
    }
}

.subdivision-form {
    width: 12vw;
    height: 30vh;
}

.form-item {
    outline: none;
    padding: 10px;
    border: none;
    border-top: .1px solid #000;
    background: transparent;
    line-height: 2rem;
    font-size: 1rem;
    width: 36vw;
}
@media(max-width: 768px){
    .form-item {
        font-size: .85rem;
        line-height: 1.2rem;
        padding: 6px;
        width: 32vw;
    }
}

.form-button {
    border: none;
    background: none;
    font-size: 1.75rem;
    color: #01A0C6;
    width: 310%;
    display: flex;
    justify-content: flex-end;
    outline: none;
}
@media(max-width: 768px){
    .form-button {
        font-size: 1.2rem;
        width: 32vw;
    }
}

.footer-1-division {
    display: flex;
    align-items: center;
    width: 100%;
    height: 15%;
    justify-content: space-evenly;
}

.footer-text-box {
    color: #13007C;
    width: 10vw;
}

.footer-1-division-title {
    font-size: 2rem;
}
@media(max-width: 768px){
    .footer-1-division-title {
        font-size: 1rem;
    }
}

.footer-image-box {
    width: 65vw;
    display: flex;
    justify-content: space-evenly;
}

.footer-image {
    width: 13%;
    height: 27%
}

.footer-container-2 {
    background-color: #13007C;
    color: #FFF;
    display: flex;
    flex-direction: row;
    height: 50vh;
    width: 100vw;
    justify-content: space-evenly;
}

.footer-content-1 {
    width: 18vw;
    height: 9vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content-2 {
    width: 55vw;
    height: 35vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-menu-division {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.wrapper-1 {
    width: 40vh;
}

.wrapper-1-title {
    font-size: 1.5rem;
}
@media(max-width: 768px){
    .wrapper-1-title {
        font-size: 1rem;
    }
}

.wrapper-1-subtitle {
    font-size: 1rem;
}
@media(max-width: 768px){
    .wrapper-1-subtitle {
        font-size: 0.85rem;
    }
}

.wrapper-2 {
    width: 25vw;
}

.wrapper-2-title {
    font-size: 1rem;
}
@media(max-width: 768px){
    .wrapper-2-title {
        font-size: 1rem;
    }
}

.wrapper-3 {
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
}
@media(max-width: 768px){
    .wrapper-3 {
        font-size: 0.85rem;
        width: 15vw;
    }
}

.wrapper-3-image {
    width: 25%;
}
@media(max-width: 768px){
    .wrapper-3-image {
        width: 20%;
    }
}

.wrapper-4 {
    width: 11vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
}
@media(max-width: 768px){
    .wrapper-4 {
        font-size: 0.85rem;
        width: 10vw;
    }
}

.wrapper-4-image {
    width: 30%;
}
@media(max-width: 768px){
    .wrapper-4-image {
        width: 25%;
    }
}

.wrapper-5 {
    height: 45vh;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 20vh;
    justify-content: space-evenly;
}

.footer-menu-link {
    text-decoration: none;
}

.footer-menu-item {
    color: #FFF;
    font-size: 1.35rem;
}
@media(max-width: 768px){
    .footer-menu-item {
        font-size: 1rem;
    }
}

.wrapper-6 {
    height: 6vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-6-title {
    width: 10vw;
    height: 2vh;
    font-size: .75rem;
}
@media(max-width: 768px){
    .wrapper-6-title {
        width: 12vw;
    }
}

.wrapper-6-image {
    width: 5vw;
    height: 5vh;
}
@media(max-width: 768px){
    .wrapper-6-image {
        width: 5vw;
    }
}
