*,
*:after,
*:before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.paulo-haus-image {
    width: 35rem;
    height: 22rem;
    border-radius: 100%;
    margin: 2rem;
    background-image: url(./assets/Paulo-Haus.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

@media(max-width: 640px){
    .paulo-haus-image {
        width: 20rem;
        height: 20rem;
    }
}

.wrapper-menu {
	width: 57vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
@media(max-width: 768px){
    .wrapper-menu {
        width: 100vw;
    }
}

.menu-image-box {
    display: flex;
    align-items: center;
    width: 14%;
}
@media(max-width: 768px){
    .menu-image-box {
        width: 25%;
    }
}
@media(max-width: 640px){
    .menu-image-box {
        width: 33%;
    }
}

.wrapper-logo {
	height: 60%;
}
@media(max-width: 768px){
    .wrapper-logo {
        width: 19vw;
        height: 10vh;
    }
}
@media(max-width: 640px){
    .wrapper-logo {
        width: 30vw;
    }
}

.menu-list {
	display: flex;
	flex-direction: row;
	align-items: center;
}
@media(max-width: 640px){
    .menu-list {
        display: none;
    }
}

.menu-link {
	text-decoration: none;
}

.list-item {
	list-style: none;
	margin-left: 3rem;
	font-size: 1.3rem;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    color: #000;
}
@media(max-width: 768px){
    .list-item {
        margin-left: .8rem;
        font-size: 1.2rem;
    }
}

.container-1 {
	background-color: #13007C;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-image: url(./assets/Fundo-home.svg);
    background-repeat: no-repeat;
    background-position-y: -55vh;
    background-position-x: -25vw;
}
@media(max-width: 768px){
    .container-1 {
    background-position-x: -55vw;
    background-position-y: -91vh;
    } 
}
@media(max-width: 640px){
    .container-1 {
        background-size: 100vh;
        background-position-x: -27vw;
        background-position-y: -27vh;
    }
}

.content-1-division {
	width: 55vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
@media(max-width: 640px){
    .content-1-division {
        width: 70vw;
        height: 70vh;
    }
}

.content-1-title {
	font-size: 1.4rem;
    font-family: 'Muli', sans-serif;
    font-weight: 900;
    width: 33vw;
    color: #FFF;
}
@media(max-width: 768px){
    .content-1-title {
        font-size: 1.5rem;
    }
}
@media(max-width: 640px){
    .content-1-title {
        font-size: 1.5rem;
        width: 90%;
    }
}

.content-1-button {
	background: none;
    border-style: none;
    font-size: 1.5rem;
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    color: #FFF;
    border-bottom-style: dotted;
    border-bottom-width: 3px;
}
@media(max-width: 768px){
    .content-1-button {
        font-size: 1.4rem;
    }
}

.content-1-box {
	width: 55vw;
    height: 100vh;
    color: #FFF;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
@media(max-width: 768px){
    .content-1-box {
        width: 60%;
    }
}
@media(max-width: 640px){
    .content-1-box {
        width: 90%;
        height: 77vh;
    }
}

.box-title {
	font-size: 1.6rem;
    font-family: 'Muli', sans-serif;
    font-weight: 900;
}
@media(max-width: 768px){
    .box-title {
        font-size: 1.5rem;
    }
}

.box-text {
	font-size: 1.2rem;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    width: 75%;
}
@media(max-width: 768px){
    .box-text {
        font-size: 1rem;
    }
}
@media(max-width: 640px){
    .box-text {
        font-size: .8rem;
        width: 95%;
    }
}

.content-2-division {
  width: 85vw;
  background-color: #01A0C6;
  border-bottom-left-radius: 17rem;
  border-top-left-radius: 17rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 6rem;
}
@media(max-width: 640px){
    .content-2-division {
        border-radius: 0;
        width: 100vw;
        height: 100vh;
        top: 1rem;
        display: flex;
        flex-direction: column;
    }
}

.subdivision-a {
	color: #FFF;
  width: 100%;
  height: 30vh;
}
@media(max-width: 768px){
    .subdivision-a {
        height: 27vh;
    }
}
@media(max-width: 640px){
    .subdivision-a {
        height: 35vh;
        width: 75vw;
    }
}

.subdivision-a-wrapper {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
@media(max-width: 768px){
  .subdivision-a-wrapper {
    height: 30vh;
    width: 50vw
  }
}
@media(max-width: 640px){
  .subdivision-a-wrapper {
    height: 38vh;
    width: 75vw;
  }
}

.subdivision-text-a {
  font-size: 1.45rem;
  font-family: 'Muli', sans-serif;
  font-weight: 400;
}
@media(max-width: 768px){
    .subdivision-text-a {
        font-size: 1.3rem;
    }
}
@media(max-width: 640px){
    .subdivision-text-a {
        width: 100%;
    }
}

.wrapper-a {
    font-size: 1.5rem;
    font-family: 'Muli', sans-serif;
    font-weight: 900;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media(max-width: 768px){
    .wrapper-a {
        font-size: 1.2rem;
    }
}

.subdivision-b {
	font-size: 1.35rem;
    width: 23vw;
}

.container-3 {
  height: 90vh;
	display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
}
@media(max-width: 768px){
    .container-3 {
        width: 100vw;
        height: 75vh;
        margin-left: 7rem;
        margin-top: 10rem;
    }
}
/*@media(max-width: 640px){
    .container-3 {
        margin: 0;
        height: 100vh;
    }
}*/

/* .content-3-div {
    width: 40vw;
    display: flex;
    align-items: center;
} */
.container-3-teste{
  width: 50%;
  height: 65%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.container-3-title {
  width: 100%;
  text-align: center;
	color: #13007C;
  font-size: 2.25rem;
  font-family: 'Muli', sans-serif;
  font-weight: 900;
}
@media(max-width: 768px){
    .container-3-title {
        width: 46vw;
        font-size: 2rem;
    }
}
/*@media(max-width: 640px){
    .container-3-title {
        width: 75%;
        font-size: 1.3rem;
    }
}*/

.content-3-division {
    font-size: .875rem;
    display: flex;
    flex-direction: row;
    width: 85vw;
    height: 45vh;
}
/*@media(max-width: 640px){
    .content-3-division {
        height: 60vh;
        display: flex;
        flex-direction: column;
        width: 55vh;
    }
}*/

.container-image-box{
  width: 50%;
  height: 70%;
  position: relative;
	background-color: #13007C;
}
@media(max-width: 768px){
    .container-image-box {
        width: 30vw;
        height: 36vh;
    }
}
/*@media(max-width: 640px){
    .container-image-box {
        height: 22vh;
        width: 42vw;
    }
}*/

.container-image {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}
/*@media(max-width: 768px){
    .container-image {
        width: 92%;
        left: 1.2rem;
        bottom: 1rem;
    }
}*/

.division-box {
    /* width: 55%; */
    height: 55%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
}

.division-container {
    width: 100%;
    /* margin-left: 20rem; */
}
@media(max-width: 768px){
    .division-container {
        /* margin-left: 20rem; */
        width: 20vw;
    }
}
/*@media(max-width: 640px){
    .division-container {
        margin: 0;
        width: 100%;
    }
}*/

.div-title {
    font-size: 1.5rem; 
    font-family: 'Muli', sans-serif;
    font-weight: 400;
}
@media(max-width: 768px){
    .div-title {
        font-size: 1.2rem;
    }
}

.div-text{
    font-size: 1.2rem;
    color: #AFAFAF;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
}
@media(max-width: 768px){
    .div-text {
        width: 17vw;
        font-size: 1rem;
        color: #AFAFAF;
    }
}

.subdivision {
  width: 100%;
  /* margin-left: 20rem; */
  display: flex;
  flex-direction: column;
}
@media(max-width: 768px){
    .subdivision {
        /* margin-left: 20rem; */
    }
}
/*@media(max-width: 640px){
    .subdivision {
        margin: 0;
    }
}*/

.subdivision-title {
    font-size: 1.5rem;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
}
@media(max-width: 768px){
    .subdivision-title {
        font-size: 1.2rem;
    }
}

.subdivision-text {
    font-size: 1.2rem;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    color: #AFAFAF;
}
@media(max-width: 768px){
    .subdivision-text {
        font-size: 1rem;
        color: #AFAFAF;
    }
}

.subdivision-box {
    width: 100%;
    /* margin-left: 20rem; */
}
@media(max-width: 768px){
    .subdivision-box {
        /* margin-left: 20rem; */
    }
}
/*@media(max-width: 640px){
    .subdivision-box {
        margin: 0;
    }
}*/

.subdivision-box-title {
    font-size: 1.5rem;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
}
@media(max-width: 768px){
    .subdivision-box-title {
        font-size: 1.2rem;
    }
}

.subdivision-box-text {
    font-size: 1.2rem;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    color: #AFAFAF;
}
@media(max-width: 768px){
    .subdivision-box-text {
        font-size: 1rem;
        width: 25vw;
        color: #AFAFAF
    }
}

.container-4 {
    background-color: #01A0C6;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.container-4-division {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 65%;
    width: 47%;
}
@media(max-width: 678px){
    .container-4-division {
        height: 46vh;
    }
}

.container-4-title {
    font-size: 1.3rem;
    font-family: 'Muli', sans-serif;
    font-weight: 900;
    color: #FFF;
}
@media(max-width: 768px){
    .container-4-title {
        font-size: 1.5rem;
    }
}

.container-4-text {
    font-size: 1rem;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    color: #FFF;
    width: 100%;
}
@media(max-width: 768px){
    .container-4-text {
        font-size: 1rem;
        width: 43vw;
    }
}

.container-4-image {
    width: 26vw;
}
@media(max-width: 768px){
    .container-4-image {
        width: 35vw;
    }
}

.container-5 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: url(./assets/background.svg);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: 50%;
    background-position-x: -186px;
}

.title-holder {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 49%;
}

.container-5-title {
    font-size: 1.8rem;
    font-family: 'Muli', sans-serif;
    font-weight: 900;
    color: #13007C;
}
@media(max-width: 768px){
    .container-5-title {
        font-size: 2rem;
    }
}

.division-box-2 {
    width: 90%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}
@media(max-width: 768px){
    .division-box-2 {
        height: 77%;
        width: 95%;
    }
}

.subdivision-5 {
    width: 52%;
    border-left-style: dotted;
    border-left-color: #FF8000;
    border-width: 0.4vw;
    padding-left: 2rem;
    height: 23%;
    line-height: 2rem;
}
@media(max-width: 768px){
    .subdivision-5 {
        width: 50%;
    }
}

.division-title {
   font-size: 1.4rem;
   font-family: 'Muli', sans-serif;
   font-weight: 900;
   width: 70%;
}
@media(max-width: 768px){
    .division-title {
        font-size: 1.2rem;
    }
}

.division-subtitle {
    font-size: 1.3rem;
    font-family: 'Muli', sans-serif;
    font-weight: 200;
    height: 29%;
}
@media(max-width: 768px){
    .division-subtitle {
        font-size: 1.2rem;
    }
}

.division-text {
    font-size: 1rem;
    font-family: 'Muli', sans-serif;
    font-weight: 200;
}
@media(max-width: 768px){
    .division-text {
        font-size: 0.8rem;
    }
}

.container-6 {
    height: 50%;
    background-color: #F9F9F9;
}

.content-6-div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 55vh;
}

.content-6-division {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 70%;
    flex-basis: 50vw;
}

.division-6-title {
    font-size: 1.4rem;
    font-family: 'Muli', sans-serif;
    font-weight: 900;
    color: #13007C;
    width: 31.7vw;
}
@media(max-width: 768px){
    .division-6-title {
        font-size: 2rem;
    }
}

.division-6-text {
    font-size: 1rem;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    height: 30vh;
    width: 63%;
}
@media(max-width: 768px){
    .division-6-text {
        font-size: 1rem;
        height: 55%;
        width: 80%;
    }
}

.subdivision-6 {
    flex-basis: 40vw;
    height: 26vh;
}
@media(max-width: 768px){
    .subdivision-6 {
        height: 37%;
    }
}

.title-box {
    font-size: .8rem;
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    height: 20%;
}
@media(max-width: 768px){
    .title-box {
        font-size: 0.6rem;
        height: 20%;
    }
}

.subdivision-form {
    width: 80%;
}

.form-item {
    outline: none;
    padding: 10px;
    border: none;
    border-top: .1px solid #000;
    background: transparent;
    line-height: 1rem;
    font-size: 0.8rem;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    width: 85%;
}
@media(max-width: 768px){
    .form-item {
        font-size: .85rem;
        line-height: 1.2rem;
        padding: 6px;
        width: 32vw;
    }
}

.form-button {
    border: none;
    background: none;
    font-size: 0.9rem;
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    color: #01A0C6;
    height: 2vw;
    width: 5vw;
    outline: none;
}
@media(max-width: 768px){
    .form-button {
        font-size: 1.2rem;
        width: 32vw;
    }
}

.footer-container-2 {
    background-color: #13007C;
    color: #FFF;
    display: flex;
    height: 50vh;
    justify-content: flex-end;
}

.footer-content-1 {
    height: 7vw;
    display: flex;
    align-items: center;
}

.footer-content-2 {
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-basis: 53vw;
}

.footer-menu-division {
    display: flex;
    flex-basis: 30vw;
    flex-direction: column;
    justify-content: space-evenly;
}

.wrapper-1 {
    width: 40vh;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
}

.wrapper-1-title {
    font-size: 1rem;
}
@media(max-width: 768px){
    .wrapper-1-title {
        font-size: 1.3rem;
    }
}

.wrapper-1-subtitle {
    font-size: 1rem;
}
@media(max-width: 768px){
    .wrapper-1-subtitle {
        font-size: 1rem;
    }
}

.wrapper-2 {
    width: 26vw;
}

.wrapper-2-title {
    font-size: 1rem;
    width: 80%;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
}
@media(max-width: 768px){
    .wrapper-2-title {
        font-size: 1rem;
    }
}

.wrapper-3 {
    width: 12vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
}
@media(max-width: 768px){
    .wrapper-3 {
        font-size: 1rem;
    }
}

.wrapper-3-image {
    width: 20%;
}

.wrapper-4 {
    width: 8vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
}
@media(max-width: 768px){
    .wrapper-4 {
        font-size: 1rem;
    }
}

.wrapper-4-image {
    width: 27%;
}

.wrapper-5 {
    height:50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 20vh;
    justify-content: space-evenly;
}

.footer-menu-link {
    text-decoration: none;
}

.footer-menu-item {
    color: #FFF;
    font-size: 1rem;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
}
@media(max-width: 768px){
    .footer-menu-item {
        font-size: 1rem;
    }
}

.wrapper-6 {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-6-title {
    width: 12vw;
    height: 2vh;
    font-size: 1rem;
    font-family: 'Muli', sans-serif;
    font-weight: 700;
}
@media(max-width: 768px){
    .wrapper-6-title {
        width: 12vw;
    }
}

.wrapper-6-image {
    height: 100%;
}

.footer-1-division {
    min-height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media(max-width: 640px){
    .footer-1-division {
        flex-direction: column;
    }
}

.footer-text-box {
    color: #13007C;
    width: 7vw;
}

@media(max-width: 640px){
    .footer-1-division {
        align-self: flex-start;
    }
}

.footer-1-division-title {
    font-size: 1.4rem;
    font-family: 'Muli', sans-serif;
    font-weight: 900;
}

.footer-image-box {
    width: 55%;
    display: flex;
    justify-content: space-evenly;
}

@media(max-width: 640px){
    .footer-image-box {
        flex-direction: column;
    }
}

.footer-image {
    height: 30px;
    margin: 0.8rem;
}
